/* pop-up box */

html, body {
  background-color: white;
}

.button {
  text-align: center;
  margin: 3% auto; /* upper and lower space */
  padding: 4px; /* padding area on all four sides of an element */
  cursor: pointer;
  background-color: #E5F2F2;
}
.button:hover {
  background-color: #CFF2F2;
}

/* Button on off

https://www.scriptol.com/html5/button-on-off.php
*/
.buttonOnOff {
  width:32px;
  height:32px;
  padding:1px 2px 3px 3px;
  font-size:12px;
  background:lightgray;
  text-align:center;
  cursor: pointer;
}
.buttonOnOff div {
  width:18px;
  height:18px;
  min-height:18px;
  background:lightgray;
  overflow:hidden;
  border-top:1px solid gray;
  border-right:1px solid white;
  border-bottom:1px solid white;
  border-left:1px solid gray;
  margin:0 auto;
  color:gray;
}

/* other */

.hidden {
  display: none;
}

.input {
  width: 100px;
}

.backGroundGrey {
  background: rgb(240,240,240);
}

.floatLeft {
  float: left;
  margin: 0% auto;
}

p {
  margin: 0;
  font-size:15px;
}

.clearfix {
  clear: both;
}

