/* pop-up box */

:root {
  --BUTTON-HEIGHT: 30px;
  --FLEX-PADDING: 5px;
  --FONT-SIZE: 15px;
  --INPUT-PADDING: 5px;
  --PADDING: 10px;
  --SPACE-BETWEEN-SECTIONS: 10px;
  --SQUARE-BUTTON-WIDTH: 30px;
}

html,
body {
  background-color: white;
}

body {
  margin: 15px;
}

input,
label,
legend,
p,
textarea {
  font-size: var(--FONT-SIZE);
}

p {
  margin: 0;
}

#popup-content {
  width: 500px;
}

/* https://stackoverflow.com/questions/5235142/how-do-i-disable-the-resizable-property-of-a-textarea*/
#inputUrls,
#inputRules {
  resize: none;
  width: 100%;
}

/* https://stackoverflow.com/questions/271067/how-can-i-make-a-textarea-100-width-without-overflowing-when-padding-is-present */
input,
textarea {
  box-sizing: border-box;
}

input[type="text"] {
  padding: var(--INPUT-PADDING);
}

input:not([type="radio"]) {
  width: 100%;
}

input[type="radio"] {
  margin-top: var(--SPACE-BETWEEN-SECTIONS);
}

.section {
  margin-top: var(--SPACE-BETWEEN-SECTIONS);
}

.oneLineButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--FLEX-PADDING);
  max-height: var(--BUTTON-HEIGHT);
}

.decodeUrlsConfig,
.openAllPathsConfig,
.openRulesConfig,
.ruleConfig {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--SPACE-BETWEEN-SECTIONS);
}

.menuConfig {
  padding: var(--PADDING);
}

.button,
.mainButton {
  background-color: #e5f2f2;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
}

.button {
  padding: 5px; /* padding area on all four sides of an element */
  width: 100%;
}

/* flex-shrink: to respect width https://stackoverflow.com/questions/21406397/width-ignored-on-flexbox-items */
.squareButton {
  height: var(--BUTTON-HEIGHT);
  width: var(--SQUARE-BUTTON-WIDTH);
  flex-shrink: 0;
}

.mainButton {
  flex-grow: 1;
  padding-bottom: 4px;
  padding-top: 4px;
  border-width: 2px;
  border-color: #e8e8e8;
  border-right-color: #979797;
  border-bottom-color: #979797;
  border-style: solid;
  width: 100%;
}

.button:hover,
.mainButton:hover {
  background-color: #cff2f2;
}

/* Button on off

https://www.scriptol.com/html5/button-on-off.php
*/
.buttonOnOff {
  width: 32px;
  height: 32px;
  padding: 1px 2px 3px 3px;
  font-size: 12px;
  background: lightgray;
  text-align: center;
  cursor: pointer;
}
.buttonOnOff div {
  width: 18px;
  height: 18px;
  min-height: 18px;
  background: lightgray;
  overflow: hidden;
  border-top: 1px solid gray;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-left: 1px solid gray;
  margin: 0 auto;
  color: gray;
}

.lazyLoadingConfig {
  display: flex;
  flex-direction: row;
  gap: var(--FLEX-PADDING);
  max-height: var(--BUTTON-HEIGHT);
}

.inputLazyLoading {
  flex-grow: 1;
}

/* other */

.hidden {
  display: none;
}

.backGroundGrey {
  background: rgb(240, 240, 240);
}

.floatLeft {
  float: left;
  margin: 0% auto;
}
